﻿<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-icons/iron-icons.html" />
<link rel="import" href="../polymer_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../polymer_components/iron-overlay-behavior/iron-overlay-behavior.html" />
<link  rel="import" href="../polymer_components/paper-tooltip/paper-tooltip.html"/>
<link rel="import" href="../neo_components/neo-imports.html" />

<dom-module id="pbp-calc">
    <template>
        <style>
            #save{
                font-size: 18px;
                color: #ff6a00;
            }
            #cancel{
                font-size: 18px;
                color: #808080;
            }
        </style>
        <div>
            <form id="form" is="neo-form">
                <div>
                    <neo-mask-numeric mask="##/##/####" value="{{workday.date}}" label="Date" error-message="date required" required></neo-mask-numeric>

                    <neo-numericonly-input label="Base Pay" value="{{workday.basepay}}" maxlength="5"></neo-numericonly-input>

                    <neo-numericonly-input label="PBP Rate" value="{{workday.pbprate}}" maxlength="4"></neo-numericonly-input>

                    <neo-numericonly-input label="Hours Worked" value="{{workday.hours}}" maxlength="5"></neo-numericonly-input>

                    <neo-numericonly-input label="Standard Minutes" value="{{workday.stdmin}}" maxlength="4"></neo-numericonly-input>

                    <neo-numericonly-input label="Actual Minutes" value="{{workday.actmin}}" maxlength="4"></neo-numericonly-input>

                    <h4>Total Pay: <span class="mdl-color-text--primary">{{totalpay}}</span></h4>
                </div>
            </form>
            <div style="float:right;">
                <paper-icon-button id="cancel" on-click="cancel" icon="cancel"></paper-icon-button>
                <paper-tooltip for="cancel">cancel</paper-tooltip>
                <paper-icon-button id="save" on-click="save" icon="save"></paper-icon-button>
                <paper-tooltip for="save">save</paper-tooltip>
            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'pbp-calc',
            ready: function () {
                this.workday = {
                    basepay: 19.05,
                    pbprate: .38,
                    hours: 8,
                    stdmin: 0,
                    actmin: 0,
                    payrate: 0,
                    extraearnings: 0,
                    otpay: 0,
                    othours: 0,
                    totalpay: 0,
                    created: -1,
                    date: new Date().toLocaleDateString()
                }
            },
            behaviors: [
                Polymer.IronOverlayBehavior
            ],
            properties: {
                totalpay: { computed: 'calc(workday.basepay,workday.pbprate,workday.hours,workday.stdmin,workday.actmin)' },
                workday: { type: Object, notify: true }

            },
            observers: [

            ],
            save: function () {
                if (!this.validate()) return;
                var date = new Date().toLocaleDateString();
                this.workday.created = Date.parse(date);
                this.fire("day-saved", { workday: this.workday });
                console.log(this.workday);
                this.workday = {
                    basepay: 19.05,
                    pbprate: .38,
                    hours: 8,
                    stdmin: 0,
                    actmin: 0,
                    payrate: 0,
                    extraearnings: 0,
                    otpay: 0,
                    othours: 0,
                    totalpay: 0,
                    created: -1,
                    date: new Date().toLocaleDateString()
                }
                this.close();
            },
            cancel: function () {
                this.fire("add-cancel", { closed: true });
               // this.close();// = false;
                
            },
            calc: function (basepay, pbprate, hours, stdmin, actmin) {
                var totalpay;
                var newrate;
                var diff = stdmin - actmin;
                // console.log(diff);

                // pbprate /= 100;
                var extra = diff * pbprate;
                this.workday.extraearnings = extra.toFixed(2);

                if (hours <= 40) {
                    totalpay = basepay * hours + extra;
                    newrate = totalpay / hours;
                    this.workday.payrate = newrate.toFixed(2);
                    this.workday.totalpay = totalpay.toFixed(2);
                }
                else {
                    var basetotal = basepay * 40 + extra;
                    newrate = basetotal / 40;
                    var otrate = (newrate*1.5);
                    var otpay = (hours - 40) * otrate;
                    this.workday.payrate = newrate.toFixed(2);
                    this.workday.othours = hours - 40;
                    this.workday.otpay = otpay.toFixed(2);
                    totalpay = basetotal + otpay;
                    this.workday.totalpay = totalpay.toFixed(2);
                }


                //  console.log(totalpay);
                return totalpay.toFixed(2);
            },
            validate: function () {
                return (this.workday.date != null);
            }
        })
    </script>
</dom-module>