﻿<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-icons/iron-icons.html" />
<link rel="import" href="../polymer_components/iron-icons/social-icons.html" />
<link rel="import" href="../polymer_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../polymer_components/iron-localstorage/iron-localstorage.html" />
<link rel="import" href="../polymer_components/paper-tooltip/paper-tooltip.html" />
<link rel="import" href="../polymer_components/paper-fab/paper-fab.html" />
<link rel="import" href="../pbp-components/pbp-calc.html" />
<link rel="import" href="../neo_components/neo-table.html" />
<script src="../../Scripts/GuidGenerator.js"></script>
<dom-module id="pbp-main">
    <template>
        <style>
            #add{
                font-size: 18px;
                color: #ff6a00;
            }

            #settings{
                font-size: 18px;
                color: #808080;
            }
            .dialog {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                -webkit-user-select: none;
                -moz-user-select: none;
                overflow: auto;
                background: white;
                padding: 30px 42px;
                outline: 1px solid rgba(0,0,0,0.2);
                box-shadow: 0 4px 16px rgba(0,0,0,0.2);
                z-index: 500;
                width: 500px;
                height: 600px;
            }
        </style>

        <pbp-calc id="calc" class="dialog" nocancelonoutsideclick></pbp-calc>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class=" mdl-cell mdl-cell--10-col">
                <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                    <div class="mdl-card__title">
                    </div>
                    <div class="mdl-card__supporting-text" style="margin:auto;">
                        <neo-table log="{{log}}"></neo-table>
                    </div>
                    <div class="mdl-card__menu" style="padding-bottom:30px;">
                        <paper-icon-button id="add" on-click="add" icon="add"></paper-icon-button>
                        <paper-tooltip for="add">add</paper-tooltip>

                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
        <paper-fab id="addfab"  on-click="add" icon="add" class="mdl-color--primary" style="position:absolute; bottom:32px; right:32px; z-index:1000;"></paper-fab>
        <iron-localstorage id="storage"
                           name="pbp-acccount-storage"
                           autosavedisabled
                           value="{{account}}"
                           on-iron-localstorage-load-empty="initializeAccount"
                           on-iron-localstorage-load="loadAccount">
        </iron-localstorage>
    </template>

    <script>
        Polymer({
            is: "pbp-main",
            ready: function () {
                
            },
            properties: {
                log: { type: Array, notify: true},
                guid: String,
                account: { type: Object,notify:true }
            },
            listeners: {
                "day-saved": "onDaySaved",
                "day-removed": "onDayRemoved",
                "add-cancel": "onAddCanceled"
            },
            add: function () {
                this.$.addfab.hidden = true;
                this.$.calc.open();
            },
            onDaySaved: function (e) {
                console.log(e.detail.workday);
                this.unshift("log", e.detail.workday);
                this.set('account.log', this.log);
                this.set('account.Guid', this.guid);
                this.$.storage.save();
                console.log("account-saved");
                console.log(this.$.storage.value);
                this.$.addfab.hidden = false;
            },
            onDayRemoved:function(e){
                var index = e.detail.index;

                this.splice("log", index, 1);
                this.set('account.log', this.log);
                this.set('account.Guid', this.guid);
                this.$.storage.save();
                console.log("account-saved");
                console.log(this.$.storage.value);

            },
            onAddCanceled: function (e) {
                console.log("add-canceld");
                this.$.calc.close();
                this.$.addfab.hidden = false;
            },
            initializeAccount: function () {
                this.$.storage.value = {
                    log: [],
                    Guid: ""
                }
                console.log("account-init");
                this.account = { log: [], Guid: "" };
                this.$.storage.value.Guid = this.guid = generateUUID();
                this.$.storage.value.log = this.log = [];
                this.set('account.log', this.log);
                this.set('account.Guid', this.guid);
                this.$.storage.save();
                console.log(this.account);
                console.log("account-inited");
            },
            loadAccount: function (e) {
                console.log("account-load");
                this.account = this.$.storage.value;
                this.guid = this.account.Guid;
                this.log = this.account.log;
                console.log(this.account);
                console.log("account-loaded");
            }

        })
    </script>

</dom-module>
