﻿<link rel="import" href="~/Content/polymer_components/polymer/polymer.html" />
<link rel="import" href="~/Content/polymer_components/iron-overlay-behavior/iron-overlay-behavior.html"/>
<link rel="import" href="~/Content/polymer_components/paper-input/all-imports.html"/>
<link rel="import" href="~/Content/polymer_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="~/Content/polymer_components/iron-icons/iron-icons.html"/>
<dom-module id="pbp-dailylog">
    <template>
        <div>
            <span>Date</span>
            <paper-input style="width:200px;" type="date" value="{{log.Date}}"></paper-input>
        </div>
        <br />
        <div>
            <span>Clocked In</span>
            <paper-input style="width:100px;" type="time" value="{{log.In}}"></paper-input>
        </div>
        <div>
            <span>Clocked Out</span>
            <paper-input style="width:100px;" type="time" value="{{log.Out}}"></paper-input>
        </div>
        <div>
            <span>Standard Minutes</span>
            <paper-input style="width:100px;" type="number" value="{{log.StandardMinutes}}"></paper-input>
        </div>

        <div>
            <span>Actual Minutes</span>
            <paper-input style="width:100px;" type="number" value="{{log.ActualMinutes}}"></paper-input>
        </div>

        <div>
           <paper-icon-button icon="save" class="mdl-color-text--primary"></paper-icon-button>
        </div>

    </template>
    <script>
        Polymer({
            is: 'pbp-dailylog',
            properties:{
                log: {
                    type: Object,
                    notify: true,
                    value: function () {
                        return {
                            Date:new Date(),
                            In: "",
                            Out: "",
                            StandardMinutes: 0,
                            ActualMinutes: 0,
                            
                        };
                    }
                }
            },
            ready:function(){
            },
            behaviors: [
                Polymer.IronOverlayBehavior
            ]
        })
    </script>
</dom-module>
