﻿<script src="~/Content/polymer_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="~/Content/polymer_components/polymer/polymer.html" />
<link rel="import" href="~/Content/polymer_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="~/Content/polymer_components/paper-card/paper-card.html" />
<link rel="import" href="~/Content/polymer_components/iron-icons/iron-icons.html" />
<link rel="import" href="~/Content/polymer_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../neo-imports.html" />

<dom-module id="pbp-weeklylog">
    <template>
        <paper-card style="width:350px;">
            <div class="card-content">
                <paper-toolbar><div class="middle title">PBP Quick Calc</div></paper-toolbar>
                <neo-numericonly-input label="Base Pay" value="{{basepay}}"></neo-numericonly-input>

                <neo-numericonly-input label="PBP Rate" value="{{pbprate}}" maxlength="2"></neo-numericonly-input>

                <neo-numericonly-input label="Hours Worked" value="{{hours}}"></neo-numericonly-input>

                <neo-numericonly-input label="Standard Minutes" value="{{stdmin}}"></neo-numericonly-input>

                <neo-numericonly-input label="Actual Minutes" value="{{actmin}}"></neo-numericonly-input>



                <h4 style="color:green">Total Pay: $<span>{{totalpay}}</span></h4>

                PBP Payrate: $<span>{{payrate}}</span>
                Extra Earnings: $<span>{{extraearnings}}</span>
                Overtime Pay: $<span>{{otpay}}</span>
                Overtime Hours: <span>{{othours}}</span>

            </div>
            <div class="card-actions">
                <paper-icon-button style="color: blue;" icon="add"></paper-icon-button>
            </div>
        </paper-card>
    </template>


    <script>
        Polymer({
            is: 'pbp-weeklylog',
            ready:function() {


            }

        })

    </script>
</dom-module>
