﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Minimal.cshtml";
}

<!-- Square card -->
<style>
    .demo-card-square.mdl-card {
        width: 450px;
        height: 320px;
    }

    .demo-card-square > .mdl-card__title {
        color: #ffffff;
        background: url('../../Images/home/about-us-banner.png');
        background-size: cover;
        background-position: center;
        no-repeat;
    }
</style>

<div class="demo-card-square mdl-card mdl-shadow--2dp" style="margin:auto;">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text" style="color:black;">About</h2>
    </div>
    <div class="mdl-card__supporting-text">
       We believe that everyone should have the power to track, calculate, and log money earned through their hard work.
        By using this tool, you can simply monitor your progress and compensation; past present, future and as a result you can take control
        and git rid of the confusing arithmetic and secrecy imposed by your employer.
    </div>
</div>

