﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Minimal.cshtml";
}

<!-- Square card -->
<style>
    .demo-card-square.mdl-card {
        width: 450px;
        height: 320px;
    }

    .demo-card-square > .mdl-card__title {
        color: #ffffff;
        background: url('../../Images/home/contact_banner.jpg'); background-size:cover; background-position:center; no-repeat;
    }
</style>

<div class="demo-card-square mdl-card mdl-shadow--2dp" style="margin:auto;">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Contact</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Email: support@myzonesocial.com
        <hr />
        Text: 972-341-4862
    </div>
</div>
