﻿@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Minimal.cshtml";
}

<!-- Square card -->
<style>
    .demo-card-square.mdl-card {
        width: 450px;
        height: 320px;
    }

    .demo-card-square > .mdl-card__title {
        color: #ffffff;
        background: url('../../Images/home/help_banner.jpg');
        background-size: cover;
        background-position: center;
        no-repeat;
    }
</style>

<div class="demo-card-square mdl-card mdl-shadow--2dp" style="margin:auto;">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Help</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <b>Browser</b> - <i>use  the Chrome browser for the best experience.</i><br />
        <b>Data</b> - <i>all data is stored locally, so erasing your browser data will erase your information.</i><br />
        <b>Overtime</b> - <i>Overtime is based on more than 40hrs bi-weekly and 1.5 x the "Pay Rate"</i><br />
        <b>PBP Rate</b> - <i>This is only applicable to people who work on performance based pay, it's optional</i><br />
    </div>
</div>
