﻿@{
    ViewBag.Title = "PBP Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="import" href="~/Content/pbp-components/pbp-main.html"/>


<pbp-main id="pbpmain"></pbp-main>

