﻿
<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      https://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Don't let 'The Man' calculate your pay!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PBP Finance</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/mdl/material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.deep_orange-indigo.min.css" />

    
    <script src="~/Content/polymer_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <style>
        .background {
            background-image: url('../../Images/home/Warehouse_home1.jpg');
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>
    <div class="background mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color-text--white mdl-shadow--4dp" style="opacity:0.8;">
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <span class="mdl-layout-title"><b>PBP FINANCE</b></span>
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-cell--hide-phone">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/home/about">About</a>
                    <a class="mdl-navigation__link" href="/home/help">Help</a>
                    <a class="mdl-navigation__link" href="/home/contact">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"><b>PBP FINANCE</b></span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="/home/about">About</a>
                <a class="mdl-navigation__link" href="/home/help">Help</a>
                <a class="mdl-navigation__link" href="/home/contact">Contact</a>
            </nav>
        </div>
        <main class=" mdl-layout__content">

            @RenderBody()
        </main>
    </div>
    <script src="~/Content/mdl/material.min.js"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-565b9f57c1f516aa" async="async"></script>
</body>
</html>