﻿

<link rel="import" href="../polymer_components/polymer/polymer.html" />

<dom-module id="neo-table-data">
    <template>

        
    </template>
    <script>
        Polymer({
            is: 'neo-table-data',
            properties: {
                value:{type:String}
            }
        })
    </script>

</dom-module>
