﻿<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<dom-module id="neo-ccv-input" attributes="label">
    <template>
        <paper-input-container auto-validate>
            <label>{{label}}</label>
            <input is="iron-input" id="CCV"
                   bind-value="{{value}}" 
                   prevent-invalid-input 
                   allowed-pattern="[0-9]" 
                   minlength="3" 
                   maxlength="3" 
                   required />
            <!--<paper-input-error>invalid ccv</paper-input-error>-->
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-ccv-input',
            behaviors: [
              Polymer.PaperInputBehavior,
              Polymer.IronValidatableBehavior,
              Polymer.IronFormElementBehavior
            ],
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            ready: function () {

            },
            validate: function () {
                return this.$.CCV.validate();
            }
        })
    </script>

</dom-module>
