﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<script>
  Polymer({
    is: 'neo-form',
    extends: 'form',
    properties: {
      formElements: {
        type: Object,
        notify: true
      }
    },
    listeners: {
      'iron-form-element-register': '_elementRegistered',
      'iron-form-element-unregister': '_elementUnregistered'
    },
    ready: function() {
      this.formElements = [];
    },
    _elementRegistered: function(e) {
      this.formElements.push(e.target);
      e.target._parentForm = this;
    },
    _elementUnregistered: function(e) {
      var target = e.detail.target;
      if (target) {
        var index = this.formElements.indexOf(target);
        if (index > -1) {
          this.formElements.splice(index, 1);
        }
      }
    },
    validate: function () {
        var valid = true;
        for (var i = 0; i < this.formElements.length; i++) {
            valid = this.formElements[i].validate();
        }

        return valid;
    }
  });
</script>