﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />

<dom-module id="neo-numericonly-input" attributes="label,maxlength">
    <template>
        <paper-input-container>
            <label>{{label}}</label>
            <input is="iron-input"
                   name="number"
                   id="Number"
                   bind-value="{{value}}"
                   prevent-invalid-input
                   allowed-pattern="-?[0-9]*(\.[0-9]+)?"
                   maxlength$="[[maxlength]]"
                   required />
            <!--<paper-input-error>Invalid <span>{{label}}</span></paper-input-error>-->
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-numericonly-input',
            behaviors: [
              Polymer.PaperInputBehavior,
              Polymer.IronValidatableBehavior,
              Polymer.IronFormElementBehavior
            ],
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            ready: function () {

            },
            validate: function () {
                console.log(this.label + " is " + this.$.Number.validate());
                return this.$.Number.validate();
            },
            _getValidity: function () {
                return this.validate();
            }
        })
    </script>

</dom-module>
