﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<dom-module id="neo-creditcard-details">

    <template>
        <table class="table table-bordered">
            <tr >
                <th>Name on Card</th>
                <th>Card Number</th>
                <th>CCV</th>
                <th>Expiration Month</th>
                <th>Expiration Year</th>
                <th></th>
            </tr>

            <tr >
                <td><div>{{payment.FirstName}}</div> <div>{{payment.LastName}}</div></td>
                <td>{{payment.Name}}</td>
                <td>{{payment.CCV}}</td>
                <td>{{payment.ExpireMonth}}</td>
                <td>{{payment.ExpireYear}}</td>
                <td><paper-icon-button id="deleteCardBtn" mini style="color:red" icon="delete" on-click="removeCard"></paper-icon-button></td>
            </tr>

        </table>

    </template>

    <script>
        Polymer({

            is: 'neo-creditcard-details',
            properties:{
                payment:{
                    type:Object,
                    notify:true
                },
                valid: {
                    type: Boolean,
                    notify:true
                }
            },
            removeCard: function () {
                this.valid = false;
                this.payment = {
                    Name: "",
                    ExpireMonth: "",
                    ExpireYear: "",
                    CCV: "",
                    FirstName: "",
                    LastName: "",
                    City: "",
                    Company: "",
                    State: "",
                    Zip: "",
                    Street: "",
                    Phone: ""
                };
            }


        })

    </script>


</dom-module>
