﻿<dom-module id="iron-org-test">

    <template>

        <neo-alphaonly-input value="{{model.name}}" label="Organization Name"></neo-alphaonly-input>
        <neo-alphaonly-input value="{{model.subdomain}}" label="Organization Subdomain"></neo-alphaonly-input>
        <neo-phone-input value="{{model.phone}}" label="Phone"></neo-phone-input>
        <neo-zipcode-input value="{{model.zip}}" label="Zip Code"></neo-zipcode-input>
        <neo-email-input value="{{model.email}}" label="Email"></neo-email-input>
        <neo-numericonly-input value="{{model.npn}}" label="NPN"></neo-numericonly-input>
        <neo-alphanumeric-input value="{{model.address}}" label="Address"></neo-alphanumeric-input>
        <neo-creditcardnum-input value="{{model.ccnum}}" label="Credit Card Number"></neo-creditcardnum-input>
        <neo-ccv-input value="{{model.ccv}}" label="CCV"></neo-ccv-input>
        <neo-ccexpiremonth-input value="{{model.ccexmonth}}" label="Expire Month"></neo-ccexpiremonth-input>
        <neo-ccexpireyear-input value="{{model.ccexyear}}" label="Expire Year"></neo-ccexpireyear-input>
        <neo-date-input value="{{model.date}}" label="Date" pattern=""></neo-date-input>
        <div>{{model.date}}</div>
        
        
    </template>

    <script>

        Polymer({

            is: 'iron-org-test',
            
            ready: function () {

                this.model = {
                    name: "hello",
                    subdomain: "",
                    phone: "",
                    zip: "",
                    email: "",
                    npn: "",
                    address: "",
                    ccnum: "",
                    ccv: "",
                    ccexmonth: "",
                    ccexyear: "",
                    date:""
                }
            },
        })
    </script>
</dom-module>