﻿<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<dom-module id="neo-ccexpireyear-input" attributes="label">
    <template>
        <paper-input-container auto-validate>
            <label>{{label}}</label>
            <input id="expyear" is="iron-input" 
                   bind-value="{{value}}" 
                   prevent-invalid-input
                   type="number" 
                   min="2015" 
                   max="2099" 
                   placeholder="2015" 
                   required />
            <!--<paper-input-error>invalid expiration month</paper-input-error>-->
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-ccexpireyear-input',
            behaviors: [
              Polymer.PaperInputBehavior,
              Polymer.IronValidatableBehavior,
              Polymer.IronFormElementBehavior
            ],
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            ready: function () {

            },
            validate: function () {
                return this.$.expyear.validate();
            }
        })
    </script>

</dom-module>
