﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<dom-module id="neo-phone-input" attributes="label">
    <template>
        <paper-input-container>
            <label>{{label}}</label>
            <input is="iron-input" id="phone"
                   bind-value="{{value}}"
                   prevent-invalid-input 
                   allowed-pattern="\d\d\d-\d\d\d-\d\d\d\d" 
                   minlength="12" 
                   maxlength="12" 
                   required />
            <!--<paper-input-error>invalid phone number</paper-input-error>-->
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-phone-input',
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            behaviors: [
                  Polymer.PaperInputBehavior,
                  Polymer.IronValidatableBehavior,
                  Polymer.IronFormElementBehavior
            ],
            ready: function () {

            },
            validate: function () {

                return this.$.phone.validate();
            }
        })
    </script>

</dom-module>
