﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<link rel="import" href="../polymer_components/iron-overlay-behavior/iron-overlay-behavior.html"/>
<link rel="import" href="../polymer_components/gold-cc-input/gold-cc-input.html"/>
<link rel="import" href="../polymer_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../polymer_components/paper-icon-button/paper-icon-button.html"/>

<dom-module id="neo-payment-form">
    <template>
        <paper-toolbar><div class="middle title">Card Information</div></paper-toolbar>
        <form is="neo-form" id="PaymentForm">
            <gold-cc-input label="Card Number" auto-validate="true" value="{{model.CreditCard.Name}}" required></gold-cc-input>
            <!--<neo-creditcardnum-input value="{{model.CreditCard.CardNumber}}" label="Card Number"></neo-creditcardnum-input>-->
            <!--<gold-cc-ccv-input label="CCV" value="{{model.CreditCard.CCV}}" auto-validate="true" required></gold-cc-ccv-input>-->
            <neo-ccv-input value="{{model.CreditCard.CCV}}" label="CCV"></neo-ccv-input>
            <neo-ccexpiremonth-input value="{{model.CreditCard.ExpireMonth}}" label="Expire Month"></neo-ccexpiremonth-input>
            <neo-ccexpireyear-input value="{{model.CreditCard.ExpireYear}}" label="Expire Year"></neo-ccexpireyear-input>

            <br />

            <paper-toolbar><div class="middle title">Billing Information</div></paper-toolbar>
            <neo-personal-info model="{{model.CreditCard}}"></neo-personal-info>
        </form>

        <paper-icon-button icon="save" style="color:deepskyblue" on-click="savePay"></paper-icon-button>



    </template>

    <script>
        Polymer({
            is:'neo-payment-form',
            properties: {
                model: {
                    type: Object,
                    notify: true

                },
                valid: {
                    type: Boolean,
                    notify:true
                }
            },
            behaviors: [
                Polymer.IronOverlayBehavior,
                Polymer.IronValidatableBehavior,
                Polymer.IronFormElementBehavior
            ],
            validate:function(){

                console.log("Paymentform valid = " + this.$.PaymentForm.validate());
                return this.$.PaymentForm.validate();
            },
            ready: function () {
                this.valid = false;

            },
            savePay: function () {
                if (this.validate()) {
                    this.valid = true;
                }
                this.close();
            },

        });


    </script>


</dom-module>