﻿<script src="~/Content/polymer_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="~/Content/polymer_components/polymer/polymer.html" />
<link rel="import" href="~/Content/polymer_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="~/Content/polymer_components/paper-card/paper-card.html" />
<link rel="import" href="~/Content/polymer_components/iron-icons/iron-icons.html" />
<link rel="import" href="~/Content/polymer_components/paper-icon-button/paper-icon-button.html" />
<link  rel="import" href="../polymer_components/firebase-element/firebase.html"/>
<link  rel="import" href="../polymer_components/firebase-element/firebase-auth.html"/>
<link rel="import" href="~/Content/neo_components/neo-login.html" />
<link rel="import" href="../neo_components/neo-imports.html" />

<dom-module id="neo-login">
    <template>
        <firebase-auth id="firebaseLogin"
                       user="{{user}}"
                       status-known="{{statusKnown}}"
                       location="https://pbp-express.firebaseio.com/"
                       provider="{{provider}}"
                       on-error="errorHandler"
                       on-user-created="userSuccessHandler"
                       on-password-changed="userSuccessHandler"
                       on-password-reset="userSuccessHandler"
                       on-user-removed="userSuccessHandler">

        </firebase-auth>
        <firebase-collection></firebase-collection>

        <div>
            <div class="card-content">
                <paper-toolbar><div class="middle title">PBP Express Login</div></paper-toolbar>
                <div hidden$="{{computePasswordHidden(provider)}}">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="email" class="mdl-textfield__input" type="text" value="{{email::input}}">
                        <label class="mdl-textfield__label" for="email">E-mail</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="password" class="mdl-textfield__input" type="text" value="{{password::input}}">
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--12-col">
                            <a role="button" class="mdl-color-text--primary-dark" on-tap="createUserHandler" disabled$="{{computeCreateUserDisabled(email, password)}}">Create user</a>
                        </div>
                    </div>
                </div>
                <br>
                <div id="message">[[message]]</div>
                <br>

            </div>
            <div class="card-actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" on-tap="login" hidden$="{{computeLoginHidden(statusKnown, user)}}">Login</button>
                <!--<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" on-tap="logout" hidden$="{{computeLogoutHidden(statusKnown, user)}}">Logout</button>
-->
                <h3>Login status:</h3>
                <p>{{computeLoginStatus(statusKnown, user)}}</p>

                <h3>User ID:</h3>
                <pre>{{user.uid}}</pre>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'neo-login',
            ready: function () {
                this.provider = "password";
            },
            behaviors:[
                Polymer.IronOverlayBehavior
                
            ],
            properties: {
                provider: {
                    type: String,
                    value: 'anonymous'
                },
                message: {
                    type: String,
                    value: ''
                },
                email: {
                    type: String,
                    value: ''
                },
                password: {
                    type: String,
                    value: ''
                },
                user: {
                    type: Object,
                    value: null
                },
                statusKnown: {
                    type: Boolean
                }
            },
            login: function () {
                var params;
                try {
                    params = JSON.parse(this.params);
                } catch (e) {
                    params = null;
                }
                if (this.provider == 'password') {
                    params = params || {};
                    params.email = this.email;
                    params.password = this.password;
                }
                this.$.firebaseLogin.login(params);

            },
            logout: function () {
                this.$.firebaseLogin.logout();
            },
            errorHandler: function (e) {
                this.message = 'Error: ' + e.detail.message;
            },
            userSuccessHandler: function (e) {
                this.message = e.type + ' success!';
            },
            createUserHandler: function (e) {
                this.$.firebaseLogin.createUser(this.email, this.password);
            },
            changePasswordHandler: function (e) {
                this.$.firebaseLogin.changePassword(this.email, this.password, this.newPassword);
            },
            resetPasswordHandler: function (e) {
                this.$.firebaseLogin.sendPasswordResetEmail(this.email);
            },
            computePasswordHidden: function (provider) {
                return provider !== 'password';
            },
            computeCreateUserDisabled: function (email, password) {
                return !email || !password;
            },
            computeChangePasswordDisabled: function (email, password, newPassword) {
                return !email || !password || !newPassword;
            },
            computeResetPasswordDisabled: function (email, password) {
                return !email || !password;
            },
            computeRemoveUserDisabled: function (email, password) {
                return !email || !password;
            },
            computeLoginHidden: function (statusKnown, user) {
                return !statusKnown || !!user;
            },
            computeLogoutHidden: function (statusKnown, user) {
                return !statusKnown || !user;
            },
            computeLoginStatus: function (statusKnown, user) {
                if (statusKnown && user) {
                    console.log('Logged in');
                }
                if (statusKnown) {
                    return 'Logged out';
                }
                return 'Unknown (checking status...)';
            }
        })
    </script>
</dom-module>