﻿<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="../polymer_components/iron-list/iron-list.html" />
<link rel="import" href="../polymer_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../polymer_components/iron-icons/iron-icons.html" />
<link rel="import" href="../polymer_components/iron-icons/editor-icons.html" />
<link rel="import" href="../polymer_components/paper-item/all-imports.html" />
<link rel="import" href="../polymer_components/paper-tooltip/paper-tooltip.html" />

<dom-module id="neo-table">
    <template>
        <style>
            paper-item > div{
                width:120px;
                font-size:12px;
                text-align:center;
            }
            iron-list{
                height:300px;
            }
        </style>
            <paper-item>
                <div>Date</div>
                <div class="mdl-cell--hide-phone">Base Pay</div>
                <div class="mdl-cell--hide-phone">Pay Rate</div>
                <div class="mdl-cell--hide-phone">Extra Earnings</div>
                <div>Hours Worked</div>
                <div class="mdl-cell--hide-phone">Minutes</div>
                <div class="mdl-cell--hide-phone">OT Hours</div>
                <div class="mdl-cell--hide-phone">OT Pay</div>
                <div>Total Pay</div>
                <div></div>
            </paper-item>
        <hr />
        <iron-list items="[[log]]" as="item">
            <template>
                <paper-item>
                    <div>[[item.date]]</div>
                    <div class="mdl-cell--hide-phone">[[item.basepay]]</div>
                    <div class="mdl-cell--hide-phone">[[item.payrate]]</div>
                    <div class="mdl-cell--hide-phone">[[item.extraearnings]]</div>
                    <div>[[item.hours]]</div>
                    <div class="mdl-cell--hide-phone"><span>[[item.stdmin]]</span> - <span>[[item.actmin]]</span></div>
                    <div class="mdl-cell--hide-phone">[[item.othours]]</div>
                    <div class="mdl-cell--hide-phone">[[item.otpay]]</div>
                    <div>[[item.totalpay]]</div>
                    <div style="display:inline-block">
                        <paper-icon-button icon="delete" on-click="remove" keyeventtarget="{{item}}"></paper-icon-button>
                        <paper-tooltip>delete</paper-tooltip>
                    </div>
                </paper-item>
                
            </template>
        </iron-list>

    </template>
    <script>
        Polymer({
            is: 'neo-table',
            properties: {
                log: { type: Array, notify: true}
            },
            observers: [
                "onLogChange(log.splices)"
            ],
            ready: function () {
            },
            onLogChange: function (changeRecord) {
                console.log("log-change");
                console.log(this.log);
            },
            remove: function (e) {
                console.log("item-removed");
                console.log(e.currentTarget.keyeventtarget);
                var index = this.log.indexOf(e.currentTarget.keyeventtarget);
                console.log(index);
                this.fire("day-removed", { index: index });
            }
        })
    </script>

</dom-module>
