﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<dom-module id="neo-creditcardnum-input" attributes="label">
    <template>
        <paper-input-container>
            <label>{{label}}</label>
            <input is="iron-input" bind-value="{{value}}" prevent-invalid-input allowed-pattern="[0-9]" minlength="16" maxlength="16" required />
            <paper-input-error>invalid credit card number</paper-input-error>
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-creditcardnum-input',
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            ready: function () {

            }
        })
    </script>

</dom-module>
