﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<link rel="import" href="../polymer_components/iron-icon/iron-icon.html"/>
<link rel="import" href="../polymer_components/paper-item/all-imports.html"/>

<dom-module id="neo-item-status" attributes="icon,label">
    <template>

        <paper-item>
            <paper-item-body>
                <div>[[label]]</div>
            </paper-item-body>
                
            <iron-icon icon="[[icon]]" class="" style="color:gray"></iron-icon>
        </paper-item>

    </template>



    <script>
        Polymer({

            is: "neo-item-status",
            properties: {
                hide: {
                    type: Boolean,
                    notify:true
                }
            }



        })
    </script>
</dom-module>