﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<link rel="import" href="../polymer_components/paper-toggle-button/paper-toggle-button.html"/>
<link rel="import" href="../polymer_components/paper-item/all-imports.html"/>

<dom-module id="neo-toggle" attributes="choiceone,choicetwo">
    <style is="custom-style">
        .line {
            margin-bottom: 40px;
        }

            .line span {
                margin-left: 24px;
            }

        paper-toggle-button.blue {
            --paper-toggle-button-checked-bar-color: var(--paper-light-blue-500);
            --paper-toggle-button-checked-button-color: var(--paper-light-blue-500);
            --paper-toggle-button-checked-ink-color: var(--paper-light-blue-500);
            --paper-toggle-button-unchecked-bar-color: var(--paper-light-blue-900);
            --paper-toggle-button-unchecked-button-color: var(--paper-light-blue-900);
            --paper-toggle-button-unchecked-ink-color: var(--paper-light-blue-900);
        }

        paper-toggle-button.red {
            --paper-toggle-button-checked-bar-color: var(--paper-red-500);
            --paper-toggle-button-checked-button-color: var(--paper-red-500);
            --paper-toggle-button-checked-ink-color: var(--paper-red-500);
            --paper-toggle-button-unchecked-bar-color: var(--paper-red-900);
            --paper-toggle-button-unchecked-button-color: var(--paper-red-900);
            --paper-toggle-button-unchecked-ink-color: var(--paper-red-900);
        }

        paper-toggle-button.green {
            --paper-toggle-button-checked-bar-color: var(--paper-green-500);
            --paper-toggle-button-checked-button-color: var(--paper-green-500);
            --paper-toggle-button-checked-ink-color: var(--paper-green-500);
            --paper-toggle-button-unchecked-bar-color: var(--paper-green-900);
            --paper-toggle-button-unchecked-button-color: var(--paper-green-900);
            --paper-toggle-button-unchecked-ink-color: var(--paper-green-900);
        }

        paper-toggle-button.orange {
            --paper-toggle-button-checked-bar-color: var(--paper-orange-500);
            --paper-toggle-button-checked-button-color: var(--paper-orange-500);
            --paper-toggle-button-checked-ink-color: var(--paper-orange-500);
            --paper-toggle-button-unchecked-bar-color: var(--paper-orange-900);
            --paper-toggle-button-unchecked-button-color: var(--paper-orange-900);
            --paper-toggle-button-unchecked-ink-color: var(--paper-orange-900);
        }
    </style>

    <template>
        
        <div class="line">
            <span>[[choiceone]]</span><paper-toggle-button id="toggleBtn" on-click="choose" class="blue"></paper-toggle-button><span>[[choicetwo]]</span>
        </div>
    </template>

    <script>
        Polymer({

            is: 'neo-toggle',
            properties: {
                value: {
                    type: Boolean,
                    notify: true
                },
                color: String
            },
            ready: function () {

            },
            choose: function () {
                this.value = this.$.toggleBtn.checked;

                console.log(this.value);
            }
        })
    </script>

</dom-module>
