﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html" />
<link rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html" />
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html" />

<dom-module id="neo-email-input" attributes="label">
    <template>
        <paper-input-container>
            <label>{{label}}</label>
            <input is="iron-input" 
                   bind-value="{{value}}" 
                   prevent-invalid-input 
                   allowed-pattern="[a-zA-Z0-9._%+-]+@[a-A-Zz0-9.-]+\.[a-zA-Z]{2,3}" 
                   minlength="6" 
                   required />
            <paper-input-error>invalid email</paper-input-error>
        </paper-input-container>
    </template>

    <script>
        Polymer({

            is: 'neo-email-input',
            properties: {
                value: {
                    type: String,
                    notify: true
                }
            },
            ready: function () {

            }
        })
    </script>

</dom-module>
