﻿

<link rel="import" href="../polymer_components/polymer/polymer.html" />

<dom-module id="neo-table-header">
    <template>
        <div class="mdl-shadow--16dp mdl-color--accent" style="width:64px;height:32px;">
            <div>
                <span>{{value}}</span>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'neo-table-header',
            properties: {
                value: { type: String, notify:true }
            }
        })
    </script>

</dom-module>
