﻿<dom-module id="neo-masked-input">
    <template>

    </template>

    <script>
        Polymer({
            is: 'neo-masked-input',
            properties: {
                value:{type:String, notify:true}
            },
            ready: function () {

            }

        })
    </script>
</dom-module>
