﻿
<link rel="import" href="../polymer_components/polymer/polymer.html" />
<link rel="import" href="../polymer_components/iron-input/iron-input.html" />
<link rel="import" href="../polymer_components/paper-input/all-imports.html" />
<link  rel="import" href="../polymer_components/iron-form-element-behavior/iron-form-element-behavior.html"/>
<link  rel="import" href="../polymer_components/iron-validator-behavior/iron-validator-behavior.html"/>
<link rel="import" href="../polymer_components/iron-validatable-behavior/iron-validatable-behavior.html"/>
<link rel="import" href="../polymer_components/gold-zip-input/gold-zip-input.html"/>
<link rel="import" href="../polymer_components/gold-email-input/gold-email-input.html"/>
<link rel="import" href="../polymer_components/gold-phone-input/gold-phone-input.html" />
<link rel="import" href="../neo_components/neo-form.html"/>
<link rel="import" href="neo-alphaonly-input.html"/>
<link rel="import" href="neo-alphanumeric-input.html" />




<dom-module id="neo-personal-info">
    <template>
        <form is="neo-form" id="PersonInfoForm">
            <table>
                <tr>
                    <td>
                        <neo-alphaonly-input value="{{model.FirstName}}" label="First Name"></neo-alphaonly-input>

                    </td>
                    <td>
                        <neo-alphaonly-input value="{{model.LastName}}" label="Last Name"></neo-alphaonly-input>

                    </td>
                </tr>
                <tr>
                    <td>
                        <gold-email-input value="{{model.Email}}" label="Email"></gold-email-input>
                    </td>
                    <td>
                        <gold-phone-input label="Phone" value="{{model.Phone}}" auto-validate required floatlabel></gold-phone-input>
                        <!--<neo-phone-input value="{{model.Phone}}" label="Phone"</neo-phone-input>-->
                    </td>

                </tr>
                <tr>
                    <td>
                        <neo-alphanumeric-input value="{{model.Street}}" label=" Street Address"></neo-alphanumeric-input>
                    </td>
                    <td>
                        <neo-alphaonly-input value="{{model.City}}" label="City"></neo-alphaonly-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <neo-alphaonly-input value="{{model.State}}" label="State"></neo-alphaonly-input>
                    </td>
                    <td>
                        <gold-zip-input label="Zip" value="{{model.Zip}}" auto-validate required></gold-zip-input>
                        <!--<neo-zipcode-input value="{{model.Zip}}" label="Zip Code"></neo-zipcode-input>-->
                    </td>
                </tr>

            </table>
        </form>

    </template>


    <script>

        Polymer({
            is: 'neo-personal-info',
            properties: {
                model: {
                    type: Object,
                    notify:true
                }
            },

            behaviors: [
                Polymer.IronValidatableBehavior,
                Polymer.IronFormElementBehavior
            ],
            validate: function () {
                console.log("Person Info valid = " + this.$.PersonInfoForm.validate());
                return this.$.PersonInfoForm.validate();
            }



        })

    </script>

</dom-module>
